@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    width: 1600px;
    padding: 20px;
    /* background-color:#78e4a3; */
    font-family: "GilroyRegular";
}
@font-face {
    font-family: "GilroyRegular";
    src: local("GilroyRegular"),
      url("../src/Fonts/Gilroy-Medium.ttf") format("opentype");
    font-weight: normal;
  }